/* line 5, ../sass/styles.scss */
body {
  background: #2c3e50;
  margin: 0;
  padding: 0;
}

/*Chat heads*/
/* line 16, ../sass/styles.scss */
.chat-heads {
  position: absolute;
  left: -5px;
  z-index: 99999;
}
/* line 22, ../sass/styles.scss */
.chat-heads a {
  background-size: 100% 100% !important;
  border-radius: 55px;
  box-shadow: inset 0px 0px 1px rgba(255, 255, 255, 0.7), 0 0 5px black;
  display: block;
  height: 55px;
  width: 55px;
}
/* line 32, ../sass/styles.scss */
.chat-heads a:active {
  height: 50px;
  width: 50px;
}
