$background: #2c3e50;


body
{
	background: $background;
	margin: 0;
	padding: 0;
}


/*Chat heads*/
$size: 55px;

.chat-heads
{
	position: absolute;
	left: -5px;
	z-index: 99999;

	a
	{
		background-size: 100% 100% !important;
		border-radius: $size;
		box-shadow: inset 0px 0px 1px rgba(255,255,255,0.7), 0 0 5px rgba(0,0,0,1);
		display: block;
		height: $size;
		width: $size;
	}

	a:active
	{
		height: $size - 5px;
		width: $size - 5px;
	}
}